@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:"Lato", sans-serif;
}

.banner-section-container{
    max-width: 1440px;
    height: 650px;
    /* border: 2px solid red; */
    background-color: rgba(229, 84, 115, 0.1);
}

.banner-content{
    display: flex;
    /* border: 2px solid red; */
    width: 80%;
    margin: 0 auto;
}
.banner-text-container{
    width: 50%;
    height: 650px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}
.banner-text-container h1 {
    margin-bottom: 20px;
    font-size: 62px;
  }
  .banner-text-container p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
  }
.btn-1{
    margin-top: 25px;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background: rgb(229, 84, 115);
    color: white;
}
/*  need to change */
.banner-text-container div {
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    width: 150px;
  }

.banner-image-container{
    width: 50%;
    height: 650px;
    display: flex;
    justify-content:center;
    align-items: center;
    /* border: 2px solid blue; */
}

.banner-image-container img{
    width: 50%;
    height: 650px;
    margin-left: 120px;
}